erts_10_7_2_1
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
app.config
config/sys.config
config/vm.args
rebar.config.gen.make_proxy
.DS_Store
.tool-versions
